<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.javier.passlive">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_passlive_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_passlive_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

<activity android:name=".Category.Category"
    android:exported="true" />
        <activity
            android:name=".Login.Login_user"
            android:exported="false" />
        <activity
            android:name=".UserRegistration.Registration"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Record.Web_Record"
            android:exported="false"/>
        <activity
            android:name=".Record.Bank_Record"
            android:exported="false"/>
        <activity
            android:name=".Record.Card_Record"
            android:exported="false"/>

        <activity
            android:name=".Util.Util_Web"
            android:exported="false" />
        <activity
            android:name=".Util.Util_Bank"
            android:exported="false" />
        <activity
            android:name=".Util.Util_Card"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>

